{% extends "ListeNaissance/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% block custom_css %}
{% endblock custom_css %}
{% block custom_js %}
{% endblock custom_js %}
{% block head_data %}
  {% include "ListeNaissance/header.html" %}
{% endblock head_data %}
{% block main_data %}
  {% include "ListeNaissance/help_card.html" %}
  <section class="row">
    {% load crispy_forms_tags %}
    <form class="form d-flex justify-content-center" action="" method="post">
        <div class=" card col-10 col-sm-9 col-md-8 col-lg-7">
        {% csrf_token %}
        <div class="card-header">
          <h3>Annuler la reservation !</h3>
        </div>
        <div class="card-body">
          <p>Êtes vous sur de vouloir annuler la reservation de :"{{ object.cadeau.titre }}"?</p>
        </div>
        <div class="card-footer">
          <input class="btn btn-danger" type="submit" value="Confirmer"/>
        </div>
      </div>
      </form>
  </section>
  {% endblock main_data %}
        
