{% extends "ListeNaissance/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% block custom_css %}
{% endblock custom_css %}
{% block custom_js %}
  <script src="{% static 'reservation/js/script.js' %}" async></script>
{% endblock custom_js %}
{% block head_data %}
  {% include "ListeNaissance/header.html" %}
{% endblock head_data %}
{% block main_data %}
  {% include "ListeNaissance/help_card.html" %}
  <section>
    <div class="card">
    <header class="card-header">
      <h3 class="card-title">{{ cadeau.titre }}</h3>
    </header>
    
    <main class="card-body">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2">
      <img class="card-img"
           height="auto"
           width="auto"
           src="{{ cadeau.image.url }}"
           alt="image"/>
        </div>
        <div class="col-12 col-sm-8">
          <p >{{ cadeau.desc }}</p>
          <p >
        {{ cadeau.prix }}€ chez <a href="{{ cadeau.url }}">{{ cadeau.web_site }}</a>
      </p>
      </div>
    </div>
    </main>
    </div>
    {% load crispy_forms_tags %}
    <form class="form" action="" method="post">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </section>
{% endblock main_data %}
