{% extends "ListeNaissance/base.html" %}
{% load static %}
{% block custom_css %}
  <link rel="stylesheet" href="{% static 'reservation/css/style.css' %}" />
{% endblock custom_css %}
{% block custom_js %}
  <script src="{% static 'reservation/js/script.js' %}" async></script>
{% endblock custom_js %}
{% block head_data %}
{% endblock head_data %}
{% block main_data %}
  <section>
  <div class="cadeau">
    <img class="cadeau__img" height="auto" width="auto" src="{{ cadeau.image.url }}" alt="image" />
    <h3 class="cadeau__titre">{{ cadeau.titre }}</h3>
    <p class="cadeau__desc">{{ cadeau.desc }}</p>
    <p class="cadeau__prix">{{ cadeau.prix }}€ chez <a href="{{ cadeau.url }}">{{ cadeau.web_site }}</a></p>
  </div>
  <form class="form" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_error }}
    <div class="form__field flex-row">
      <div>
        {{ form.participation_partielle.errors }}
        <label for="{{ form.participation_partielle.id_for_label }}">{{ form.participation_partielle.label }}</label>
        {{ form.participation_partielle }}
      </div>
      <div id="montant__container">
        {{ form.montant.errors }}
        <label for="{{ form.montant.id_for_label }}">{{ form.montant.label }}</label>
        <input type="number"
              id="id_montant"
              name="montant"
              max="{{ cadeau.montant_restant }}"
              step="0.01"
              disabled/>
        <span>max {{ cadeau.montant_restant }}</span>
      </div>
    </div>
    <div class="form__field">
      {{ form.nom.errors }}
      <label for="{{ form.nom.id_for_label }}">{{ form.nom.label }}</label>
      {{ form.nom }}
    </div>
    <div class="form__field">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="form__field">
      {{ form.message.errors }}
      <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
      {{ form.message }}
    </div>
    <div class="buttons">
    <button type="submit">Reserver</button>
    <button onclick="location.href='{% url 'liste:liste' %}'">Annuler</button>
    </div>
  </form>
  </section>
{% endblock main_data %}
