main {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

/* Carte cadeau */
.cadeau{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: bisque;
}

