html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 500px 1fr;
  grid-template-areas: "header" "main";
}

header {
  grid-area: head;
  background-color: aquamarine;
}

main {
  grid-area: main;
}
