{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'ListeNaissance/js/script.js' %}" async></script>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          href="{% static 'ListeNaissance/css/reset.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'ListeNaissance/css/global.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'ListeNaissance/css/variables.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'ListeNaissance/css/cadeau.css' %}"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'ListeNaissance/css/help.css' %}"
          type="text/css"/>
    {% block custom_css %}
    {% endblock custom_css %}
    {% block custom_js %}
    {% endblock custom_js %}
  </head>
  <body>
    <header>
      {% block head_data %}
      {% endblock head_data %}
    </header>
    <main>
      {% block main_data %}
      {% endblock main_data %}
    </main>
    <footer>
      <p>
        Copyright {% now "Y" %}
        <strong>Liste de naissance de Coline Lamy et Benoit Marie</strong>
        <br />
        Pour tout problème avec le site web contacter Benoit au :
        <a href="tel:+33652535211">06 52 53 52 11</a>
      </p>
    </footer>
  </body>
</html>
