{% load static %}
<div class="modal fade" id="choisirModal" tabindex="-1" aria-labelledby="choisirModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title text-primary" id="choisirModalLabel">Choisir un cadeau</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Ce site vous permet d'indiquer que vous souhaitez offrir un ou plusieurs cadeaux sur une liste d'envies
        cadeaux.</p>
      <p>
        Pour cela il faut cliquer sur le lien " Offrir/Contribuer à ce cadeau" en bas à droite de chaque cadeau que vous
        souhaitez offrir :
      </p>
      <img width="90%" src="{% static 'ListeNaissance/img/screenshot_choisir.png' %}" alt="screenshot choisir" />
      <p>Ceci permettra aux autres invités de ne plus offrir ce cadeau et donc d'éviter les doublons.</p>
      <p>
        Vous pourrez ensuite communiquer votre Nom et votre adresse email (afin de pouvoir annuler votre reservation),
        écrire un petit message textuel à l'intention de Coline et Benoit. La réservation sera effective lorsque vous
        aurez cliqué sur le bouton "Reserver":
      </p>
      <p>
        Vous pouvez aussi choisir de ne participer que partiellement en cochant la case "Je souhaite participer
        partiellement" et en entrant le montant de votre participation.
      </p>
      <p>Les autres invités seront alors informés du montant restant.</p>
      <img width="90%" src="{% static 'ListeNaissance/img/screenshot_reserver.png' %}" alt="screenshot reserver" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="acheterModal" tabindex="-1" aria-labelledby="acheterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title text-primary" id="acheterModalLabel">Acheter le cadeau</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Ensuite il faudra acheter le cadeau afin de l'offrir.</p>
  <p>Pour cela vous pourrez :</p>
  <ul>
    <li>soit acheter le cadeau sur le site indiqué par l'auteur de la liste en cliquant sur le lien du cadeau.</li>
    <li>soit acheter le cadeau dans le magasin de votre choix (en ligne ou dans votre quartier).</li>
    <li>
      soit (notament si vous avez fait une contribution partielle) faire un versement directement sur le compte bancaire
      <br />
      IBAN : FR76 4255 9100 0004 1225 0161 665
    </li>
  </ul>
  <p>
    Si vous souhaitez annuler votre réservation, veuillez suivre le lien qui vous à été envoyé par mail ou contacter
    directement Benoit <adress><a href="tel:+33652535211">06 52 53 52 11</a> <a
        href="mailto:benoit.marie09@proton.me">benoit.marie09@proton.me</a></adress>
  </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
</div>

<div class="modal fade" id="livrerModal" tabindex="-1" aria-labelledby="livrerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-primary" id="livrerModalLabel">Livrer le cadeau</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Pour nous faire parvenir le cadeau vous pourrez :</p>
      <ul>
      <li>soit nous l'envoyer ou le livrer directement à l'adresse ci-dessous</li>
      <li>soit nous l'envoyer au point relais le plus proche voir ci-dessous</li>
      <li>soit nous le remettre en main propre ce sera une bonne occasion de se voir.</li>
      </ul>
      <p>Voici nos coordonnées :</p>
      <address>
      <p>30 rue du 4 septembre 09100 Pamiers</p>
      </address>
      <p>
      Benoit :
      <ul>
      <li>
      mail : <a href="mailto:benoit.marie09@proton.me">benoit.marie09@proton.me</a>
      </li>
      <li>
      tel : <a href="tel:+0652535211">06 52 53 52 11</a>
      </li>
      </ul>
      </p>
      <p>
      Coline :
      <ul>
      <li>
      mail : <a href="mailto:mauvelamy@gmail.com">mauvelamy@gmail.com</a>
      </li>
      <li>
      tel : <a href="tel:+687669696">06 87 66 96 96</a>
      </li>
      </ul>
      </p>
      <p>Point relais : <ul>
        <li>Mondial Relay Mille et un rèves. 38 rue Victor Hugo 09100 Pamiers</li>
        <li>Mondial Relay SPORT 2000, Avenue de la bouriette 09100 Pamiers</li>
      </ul></p>
      <p>
      En cas de participation partielle vous pouvez nous envoyer la contribution sur notre compte bancaire IBAN : FR76
      4255 9100 0004 1225 0161 665
      </p>
      <p>
      Si vous souhaitez annuler votre réservation, veuillez suivre le lien qui vous à été envoyé par mail ou contacter
      directement Benoit
      </p>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
